.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

a.active img {
    transform: scale(1.4);
}

a.active .iconi {
    transform: scale(0.8);
}

.bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloc-icon img {
    width: 30px;
}

@media screen and (min-width: 600px) {
    .mobile-nav {
        display: none;
    }
}