.date {
    color: #FFF;
    font-size: 14px;
    /* font-family: Noto Sans Symbols; */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 18px;
    padding: 12px;
}